[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Felipe de Matos Melo (matosmelo)
[access "refs/for/refs/*"]
	read = group user/Felipe de Matos Melo (matosmelo)
	push = group user/Felipe de Matos Melo (matosmelo)
	label-Code-Review = -2..+2 group user/Felipe de Matos Melo (matosmelo)
	label-Verified = -1..+1 group user/Felipe de Matos Melo (matosmelo)
	rebase = group user/Felipe de Matos Melo (matosmelo)
	removeReviewer = group user/Felipe de Matos Melo (matosmelo)
	submit = group user/Felipe de Matos Melo (matosmelo)
[access "refs/heads/*"]
	read = group user/Felipe de Matos Melo (matosmelo)
	create = group user/Felipe de Matos Melo (matosmelo)
	push = +force group user/Felipe de Matos Melo (matosmelo)
	pushMerge = group user/Felipe de Matos Melo (matosmelo)
[access "refs/tags/*"]
	push = +force group user/Felipe de Matos Melo (matosmelo)
	pushTag = group user/Felipe de Matos Melo (matosmelo)
	pushSignedTag = group user/Felipe de Matos Melo (matosmelo)
